/* main 输入框 */
.login-username {
    position: relative;
    padding-left: 50px;
    outline-color: #fff;
    outline-width: 0; 
}

.login-password {
    @extend .login-username;
    margin-top: 10px; 
}
/* main 输入框-结束 */
