.login-submit {
    display: inline-block;
    padding: 0; 
    width: 100%;
    margin-top: 20px;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    background: #5fc0cd;
    color: #fff; 
    border-width: 0;
    letter-spacing: 5px;
}
/* 登陆按钮  */