/* header 登录顶部  */
.login-header {
    position: relative;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    line-height: 45px;
    font-size: 15px;
    background: #5fc0cd;
    color: #fff;

    > .head {
        margin: 0;
        text-align: center;
        font-size: 18px;
    }

    > .register {
        position: absolute;
        left: 15px;
    }
    
    > .close {
        position: absolute;
        top: 0;
        right: 15px;
    }
}

/* header 登录顶部-结束  */