* {
    margin:0;
    padding:0;
    box-sizing:border-box
}

/* header-开始 */
.website-header {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    background: #91d4da;
    color: #fff;

    > .goback {
        position: absolute;
        top: 10px; 
        border: 10px solid transparent;
        border-right: 10px solid #fff;
    }
      .goback:hover {
          border-right: 10px solid #fff;
        }

      .goback:after {
          content: '';
          position: absolute;
          top: -10px; left: -7px;
          border: 10px solid transparent;
          border-right: 10px solid #91d4da;
        }

    > .header-back {
        position: absolute;
        left: 25px;
    }

    > .header-title {
        text-align: center;
    }
}
/* header-结束 */

/* 顶部导航栏-开始 */
.nav-ul {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #000;

    > .nav-li {
        float: left;
        display: block;
        width: 20%;
        text-align: center;
    }

    > .nav-li a {
        color: #666;
        text-decoration: none; 
    }

    > .special-border {
        border-bottom: 2px solid #91d4da;
    }
}
/* 顶部导航栏-结束 */

.postbox{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: translateY(2px);

    > .post {
        position: absolute;
        height: auto;
        width: 100%;
    }
}


.clearfix:after{
    display: inline-block;
    content: "";
    overflow: hidden;
    clear: both;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table;
    }

.clearfix:after { clear:both; }

.clearfix{
    *zoom: 1;
}