* {
    margin:0;
    padding:0;
    box-sizing:border-box
}

/* header-开始 */
.website-header {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    background: #91d4da;
    color: #fff;

    > p:hover {
          border-right: 10px solid #fff;
        }

      p:after {
          content: '';
          position: absolute;
          top: 10px; left: -22px;
          border: 10px solid transparent;
          border-right: 10px solid #91d4da;
        }

      p:before {
          content: '';
          position: absolute;
          top: 10px; left: -24px;
          border: 10px solid transparent;
          border-right: 10px solid #fff;
        }
        
  

    > .header-back {
        position: absolute;
        left: 25px;
    }

    > .header-title {
        text-align: center;
    }
}
/* header-结束 */

/* 顶部导航栏-开始 */
.nav-ul {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #000;

    > .nav-li {
        float: left;
        display: block;
        width: 20%;
        text-align: center;
    }

    > .nav-li a {
        color: #666;
        text-decoration: none; 
    }

    > .special-border {
        border-bottom: 2px solid #91d4da;
    }
}
/* 顶部导航栏-结束 */

.postbox {
    height: 206px;
    width: 100%;
    overflow: hidden;

    > .post {
        height: auto;
        width: 100%;
    }
}

.clearfix:after {
    display: inline-block;
    content: "";
    overflow: hidden;
    clear: both;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table;
    }

.clearfix:after { clear:both; }

.clearfix {
    *zoom: 1;
}

/* 标签栏-开始  */
.label {
    width: 100%;
    height: 50px;
    margin-top: 4%;
}

.label-li {
    float: left;
    display: block;
    width: 20%;
    text-align: center;
}

.label-p {
    text-align: center;
}
/* 标签栏-结束 */

 
/* 分栏-开始 */
.tag {
    position: relative;
    margin: 14px 10px;
    border-top: 2px solid #ebebeb; 
}
    .tag ul li {
      float: left;
      width: 33.3333%;
      border-right: 2px solid #ebebeb;
      margin: 17px 0;
      list-style-type: none;  
    }

    .tag ul li img {
      display: block;
      margin: 0 auto; 
    }

    .tag ul li h3, .tag ul li p {
      text-align: center; 
    }

    .tag ul li h3 {
      font-size: 18px;
      line-height: 34px; 
    }

    .tag ul li:last-child {
      border: none; 
    }
    /* 分栏-结束  */