*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color:#eff0f4;
}


/* header 登录顶部  */
.login-header{
    position: relative;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    line-height: 45px;
    font-size: 15px;
    background: #5fc0cd;
    color: #fff;
}

.head{
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.register{
    position: absolute;
    left: 15px;
}

.close{
    position: absolute;
    top: 0;
    right: 15px;
}


/* header 登录顶部-结束  */

/* main  */
.login-username{
    position: relative;
    padding-left: 50px; 
}

.login-password{
    position: relative;
    margin-top: 10px;
    padding-left: 50px; 
}

.login-submit{
    text-align: center; 
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background: #5fc0cd;
    line-height: 45px;
    font-size: 18px;
    color: #fff; 
    letter-spacing: 5px;
    display: inline-block;
}
/* 登陆按钮  */

.icon-phone{  
    width:100%; 
    height:45px;
    border:0px;
    background-image:url(../image/iphone.png);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 25px;
}

.icon-pwd{
    width:100%; 
    height:45px;
    border:0px;
    background-image:url(../image/locked2.png);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 25px;
}

.forget-pwd{
    line-height: 20px;
    font-size: 15px;
    text-align: right;
    color: #5fc0cd;
}