*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

.head .back,.head .title{
    vertical-align:middle
}

.navbar ul li,li,ol{
    list-style:none
}

html,body{
    width: 100%;
}

.clearfix:before,.clearfix:after {
        content:"";
        display:table;
        }

.clearfix:after { clear:both; }
    
.clearfix{
        *zoom: 1;
    }

/* 头部  */
.header {
    height: 44px;
    background-color: #91d4da;
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color:#fff;
    font-weight: bold;
} 

.back {
      vertical-align:middle;
      position: absolute;
    }
  
.title {
      vertical-align:middle;
    }


/*  导航栏 */
.nav{
        height: 44px;
        background-color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 44px;
        font-weight: bold;
    }

.nav{
        background-color:#fff
    }
    
.nav ul li{
        width:20%;
        float:left
    }
    
.nav ul li a{
        text-decoration:none;
        color:#6e6e6e
    }
    
.nav ul .active{
        border-bottom:.14286rem solid #91d4da
    }
    
.li {
        width: 20%;
        float: left;
        list-style: none;
    }

.a {
        text-decoration: none;
        color:#6e6e6e;
    }

.active {
            border-bottom: 2px solid #91d4da;
          }
            
/* 大海报  */
.post {
      height: 206px;
      width: 100%;
    }

