
.ui-border-b, {
    border: 0; }

.ui-border-b {
        background-position: left bottom;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #e0e0e0), to(#e0e0e0)); }
    
.ui-border-b,{
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px; }

.ui-tab {
    width: 100%;
    overflow: hidden; }
  
.ui-tab-nav {
    width: 100%;
    background-color: #fff;
    display: box;
    display: -webkit-box;
    font-size: 16px;
    height: 45px;
    box-sizing: border-box; }
  
.ui-tab-content {
    display: -webkit-box; }
  
.ui-tab-content > li {
    -webkit-box-flex: 1;
    width: 100%; }
  
.ui-tab-nav li {
    height: 45px;
    line-height: 45px;
    min-width: 70px;
    box-flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
    color: #777;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    width: 100%; }
  
.ui-tab-nav li.current {
    color: #00a5e0;
    border-bottom: 2px #00a5e0 solid; }
  
.ui-tab-nav li:active {
    opacity: .8; }