html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
 /* 1.修正在所有浏览器中行高的显示问题
    2.防止当设备变更为windows phone 和ios时字体大小的恢复 */

body {
    margin: 0;
  }
  /* 添加在ie9中margin的正确显示 */

  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }
 /* 修复了ie9以下的浏览器版本中不能正确显示的问题 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
/*修正在谷歌、火狐和safari浏览器中"section"和"article"中"h1"元素的字体大小以及外边距*/  

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
/* 1.新增了在火狐浏览器中盒子大小的正确显示
   2.显示在ie浏览器中溢出的内容 */